{% extends 'layout.html' %}

{% block content %}

  <div class="container">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Acerca de Tesis</h1>
          <p>Tesis es una empresa que tiene que como misión que todas las personas puedan vivir al máximo de su potencial. Creemos que 
          cada persona tiene intereses y habilidades distintos y que al ayudar a cada uno a encontrar su puesto ideal, será más productivo y más feliz. </p><p>Si tienes cualquier duda no dudes en ponerte en contacto con nosotros haciendo click  <a href="{{url_for('showContact')}}">aquí.</a></p>
          </p>
        </div>
      </div>
  </div>

{% endblock %}