{% extends 'layout.html' %}

{% block content %}

	  <form method="POST" id="mathQuiz">
	    <div class="container">
	      <h1>Sección 3 de 3: Evaluación de matemáticas</h1>
	      <p>Responde a las siguientes preguntas y da click en enviar una vez que hayas terminado</p>
	      <br>

	      <h5>1. En tu trabajo como cajero, un cliente te paga con un billete de $500 pesos y compra los siguientes artículos:</h5>
	      <ul>
			  <li>Dos chicles que cuestan $2.75 pesos cada uno</li>
			  <li>Una pelota que cuesta $17 pesos</li>
			  <li>Una libreta que cuesta $32.13 pesos</li>
		  </ul>
		  <h5>¿Cuanto debes regresarle de cambio?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p1" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    $448.37
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p1" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	$448.12
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p1" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    $445.37
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p1" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	$444.76
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p1" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	$415.50
			  </label>
		  </div>
		  <br>
		  <br>

		  <h5>2. En la tienda en la que trabajas se está ofreciendo un descuento de 20% sobre todos los artículos. Adicionalmente, las televisiones tienen 12% de descuento sobre el precio ya rebajado. ¿Cuanto tendría que pagar un cliente por una televisión cuyo precio normal es de $25,000 pesos?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p2" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    $17,000
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p2" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	$17,600
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p2" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    $17,400
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p2" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	$18,000
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p2" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	$17,800
			  </label>
		  </div>
		  <br>
		  <br>

		  <h5>3. En tu trabajo como vendedor en una tienda de ropa, recibes una comisión del 15% sobre los primeros $500 pesos que vendes y del 20% sobre todas las ventas adicionales que logres. ¿Cuánto te tocaría de comisión si vendieras un total de $1,300 pesos?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p3" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    $195
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p3" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	$227
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p3" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    $235
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p3" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	$260
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p3" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	$335
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>4. Carmen, María, Rafael y Juan hicieron un viaje juntos el verano pasado. En promedio (promedio aritmético simple), manejaron 80km cada uno. Adicionalmente, sabemos que Carmen manejó 72 km, Juan 78 km y María 83. ¿Cuántas millas manejó Rafael?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p4" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    80
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p4" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	82
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p4" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    85
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p4" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	87
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p4" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	89
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>5. En la tienda de regalos del museo de antropología, una réplica de un calendario azteca tenía un costo de $500 pesos. Debido a una promoción, el artículo tenía una rebaja de $150 pesos. ¿Cual era el porcentaje de descuento de dicha réplica?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p5" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    10%
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p5" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	15%
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p5" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    20%
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p5" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	25%
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p5" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	30%
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>6. Durante las vacaciones de semana santa, la familia de Andrés estuvo fuera de la Ciudad de México. Durante su ausencia le pagaron a Pedro $110 a la semana por cortar el pasto y $40 pesos al día por pasear a su perro. Si la familia estuvo fuera exactamente 3 semanas, ¿Cuál fue el pago total que recibió Pedro?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p6" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    $450
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p6" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	$540
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p6" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    $710
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p6" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	$950
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p6" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	$1,170
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>7. Una empresa de medición de opinión pública sabe que el 60% de las personas que reciben un cuestionario lo contesta. Si para un estudio requieren de 300 encuestas contestadas, ¿Cúal es el número mínimo de personas a las que le empresa tiene que enviar una encuesta?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p7" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    400
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p7" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	420
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p7" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    480
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p7" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	500
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p7" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	600
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>8. En un cierto número fraccionario, el denominador mayor que el numerador por 16. Si la fracción es equivalente al 80%, ¿Cuál es el denominador de la fracción?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p8" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    32
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p8" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	64
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p8" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    72
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p8" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	80
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p8" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	120
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>9. ProAgro es una compañía que cultiva y comercializa soya, maíz y trigo. En el rancho de la compañía, el 90% del terreno fue preparado para el cultivo. Del terreno listo para el cultivo, en el 40% se plantó soya y el 50% se utilizó para plantar trigo. Si las 720 hectáreas restantes fueron plantadas con maíz, ¿Cuál es el área total -en hectáreas- del rancho de ProAgro?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p9" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    5,832
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p9" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	6,480
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p9" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    7,200
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p9" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	8,000
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p9" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	8,889
			  </label>
		  </div>
		  <br>
		  <br>


		  <h5>10. Para preparar su lista de lectura para este verano, Ana va a elegir 4 de los 10 libros que tiene y los va a leer en el orden en que los haya elegido. ¿Cuántas posibles listas de lectura diferentes puede construir Ana?</h5>
	      <div class="form-check">
			  <input class="form-check-input" type="radio" name="p10" id="exampleRadios1" value="1" required>
			  <label class="form-check-label" for="exampleRadios1">
			    6
			  </label>
		  </div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="p10" id="exampleRadios2" value="2">
			  <label class="form-check-label" for="exampleRadios2">
			  	40
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p10" id="exampleRadios3" value="3">
			  <label class="form-check-label" for="exampleRadios3">
			    210
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p10" id="exampleRadios3" value="4">
			  <label class="form-check-label" for="exampleRadios3">
			  	5,040
			  </label>
		  </div>
		  <div class="form-check">
			  <input class="form-check-input" type="radio" name="p10" id="exampleRadios3" value="5">
			  <label class="form-check-label" for="exampleRadios3">
			  	151,200
			  </label>
		  </div>
		  <br>
		  <br>
		  <div>
		  	<a href="{{url_for('mathTestApplicant', applicant_id=applicant_id)}}">
	       		<button class="btn btn-primary " name="submit" type="submit">Enviar</button>
	       	</a>
		  </div>
		</div>
	  </form>
	  <br>
	  <br>
	  <br>
	  <br>
    

{% endblock %}