{% extends 'layout.html' %}

{% block content %}

  <div class="container">
  <h1>Hola, {{company.name}}, estas son tus vacantes publicadas y sus respectivos matches</h1>
  {% for job in jobsMatches %}
  	<div class="jumbotron">
	  	<h1 class="display-4">{{job[0].title}}</h1>
	  	{% if job|length == 1 %}

	  		<p class="lead">Aún no hay ningún match para esta vacante.</p>

	  	{% else %}
		  	{% for element in job[1:]%}
		  		<div class="card">
				  <div class="card-header">
				    {{element[0].name}}
				  </div>
				  <div class="card-body">
				    <p class="card-text">Mail: {{element[0].mail}}</p>
				    <p class="card-text">Match score: {{element[1]}}</p>
				  </div>
				</div>
		  	{% endfor %}
		{% endif %}

	</div>
  {% endfor %}
  <div class="container">
    <a href="{{url_for('showCompany', company_id=company.id)}}"><button type="button" class="btn btn-primary">Regresar a mis vacantes</button></a>
  </div>
  </div>

{% endblock %}