{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>¡Felicidades! Tu aplicación ha quedado registrada</h1>
        <p>Tus datos de contacto serán compartidos con la empresa y en breve se pondrán en contacto contigo. Si tienes cualquier duda no dudes en ponerte en contacto con nosotros haciendo click  <a href="{{url_for('showContact')}}">click.</a></p>
        <a href="{{url_for('showApplicant', applicant_id=applicantID)}}"><button type="button" class="btn btn-primary">Regresar a la página anterior</button></a>
      </div>
    </div>
  </div>
{% endblock %}