{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <h1>Hola, {{applicant.name}}, estas son todas las vacantes que están disponibles para ti</h1>
    {% for match in matches %}
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9"><h4>{{match[1]}} en {{match[5]}}</h4></div>
            <div class="col-3">
            <p>Compatibilidad: {{match[4]}}%</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{match[3]}}</h5>
          <p class="card-text">Sueldo: {{match[2]}} pesos mensuales</p>
          <a href="{{url_for('showInterestApplicant', job_id=match[0], applicant_id=applicant.id)}}" class="btn btn-primary">Me interesa!</a>
        </div>
      </div>
      <br>
    {% endfor %}
  </div>
{% endblock %}

