{% extends 'layout.html' %}

{% block content %}


    <div class="container">
      <h1>Estas a un paso de recibir las mejores ofertas de trabajo</h1>


              <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


      <form action="{{ url_for('newApplicant')}}" method = 'POST' enctype = "multipart/form-data">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input name="name" type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{mail}}" placeholder={{mail}} required>
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie.</small>
        </div>
        <div class="form-group">
          <label for="ingresaPassword">Password</label>
          <input name="password" type="password" class="form-control" id="ingresaPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmaPassword">Confirma tu password</label>
          <input name="password" type="password" class="form-control" id="confirmaPassword" required>
        </div>
        <div class="form-group">
          <label for="subeCV">Sube tu Curriculum</label>
          <input type = "file" name = "file" id="subeCV" required>
        <br><br>
        <button name="signup" value="signup" type="submit" class="btn btn-primary">Continuar a la primera sección del cuestionario</button>
      </form>
    </div>

{% endblock %}


